<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleBindings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45D9D9691BF06974001E8BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D9D97A1BF06975001E8BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D9D9851BF06975001E8BC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
